$dark-grey: #515151;
$white: #fff;
$headline-font-size: 3rem;
$content-font-size: 1.3rem;
$content-line-height: 2rem;

@font-face {
    font-family: Share;
    src: local("Share"), url("../Font/Share-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, html {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 50px;
    min-height: 100vh;
    font-family: Share, sans-serif;
    line-height: $content-line-height;
}

h1, h2, h3 {
    font-size: $headline-font-size;
    line-height: initial;
}

.menu-container {
    background: $dark-grey;
    flex: 1;
    min-width: 200px;

    .logo svg {
        width: 100%;
        height: 20vh;
        min-height: 50px;
    }

    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
    }

    a {
        color: $white;
        font-size: $content-font-size;
        text-decoration: none;
        padding: .4rem 1rem;
    }
}

.content {
    font-size: $content-font-size;
    flex: 4;
}
